# Ignore environment files
.env
.streamlit/secrets.toml

# Ignore unnecessary system files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
mas_ai_env/

# Ignore compiled files
*.log
*.sqlite3
*.db